html {
  font-family: 'Open Sans', sans-serif;
}

.card.small {
  border-radius: 50px;
}

.card .card-title {
  font-size: 42px;
}

.card .card-content p {
  font-size: 24px;
  padding-top: 50px;
  line-height: 40px;
}

.parallax-container {
  height: 500px;
}


@media screen and (max-width: 992px) {
  .parallax-container {
    height: 400px;
  }
}

@media screen and (max-width: 600px) {
  .parallax-container {
    height: 250px;
  }
}